npm-debug.log
node_modules

.DS_Store
.idea
.babel-plugin-macrosrc.js
.babelrc
.browserslistrc
.eslintrc.js
.stylelintrc
.travis.yml
.size-limit.json
jest.config.js
rollup.config.js
yarn-error.log
Thumbs.db

/coverage/
/src/
/dist/
/__tests__/
/__mocks__/
