$background: none repeat scroll 0 0 #a3544a;
$main-background: #ecb956;

* {
  font-family: monospace;
}

html, body {
  margin: 0;
  background: $main-background;
  height: 100%;
  width: 100%;
}

header {
  background: $background;
  padding: 40px 20px;
  color: #2d2c2a;
  h1 {
    display: inline;
    font-size: 34px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
  }
}

main {
  padding: 40px 20px;
  form {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    #input-text {
      width: 70%;
      background-color: #201f1e;
      background-image: none;
      border: 1px solid rgba(0, 0, 0, 0.4);
      border-radius: 0;
      height: 28px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 18px;
      color: #fff;
      vertical-align: middle;
    }
    button[type="submit"] {
      width: 25%;
      display: inline-block;
      color: #fff;
      background: none repeat scroll 0 0 #2d2c2a;
      border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
      margin-bottom: 0;
      font-size: 18px;
      line-height: 20px;
      padding: 10px 15px;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
    }
  }
  #result {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    font-size: 40px;
    color: #2d2c2a;
    text-align: center;
  }
}

footer {
  height: 5%;
  background: $background;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}